* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

td {
  width: 100px;
  height: 100px;
}

table,
tr,
td {
  border: 0.4px solid black;
  border-collapse: collapse;
}

table {
  margin: auto;
  margin-top: 5%;
}

button {
  width: 100px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50px, 0);
  background-color: rgb(181, 34, 186);
  border: none;
  border-radius: 12px;
  font-size: 24px;
  color: black;
  cursor: pointer;
}
